# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/
ENV/

# LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.run.xml
*.bcf
*.synctex.gz
*.fdb_latexmk
*.fls

# Data & Results
results/
data/results/
docs/

# VS Code
.vscode/

# Markdown
*.md
